* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.book-container {
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page {
    width: 100%;
    height: 100%;
    background-color: white;
    border: 1px solid #ccc;
    padding: 20px;
    position: relative;
    overflow: hidden;
}

.image-container {
    display: flex;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.page-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none;
    /* Ẩn tất cả các ảnh trừ ảnh hiện tại */
}

.page-img.active {
    display: block;
    /* Hiển thị ảnh hiện tại */
}

.nav-btn {
    position: absolute;
    top: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    font-size: 2rem;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
    transform: translateY(-50%);
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.nav-btn:hover {
    background-color: rgba(0, 0, 0, 0.8);
}